[submodule "test/test_data"]
	path = test/test_data
	url = git@github.com:jkflying/opencalibration_testdata.git
[submodule "external/opencv"]
	path = external/opencv
	url = https://github.com/opencv/opencv.git
[submodule "external/spectra"]
	path = external/spectra
	url = https://github.com/yixuan/spectra.git
