name: C/C++ CI

on:
  push:
    branches: master
  pull_request:
    branches: '**'

jobs:
  build:
    runs-on: ubuntu-24.04
    env:
      CTCACHE_DIR: ~/.cache/ctcache
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: ccache
      uses: hendrikmuhs/ccache-action@v1.2
    - name: ctcache
      uses: actions/cache@v4
      with:
        path: ~/.cache/ctcache
        key: ctcache-${{ runner.os }}-${{ hashFiles('.clang-tidy') }}
        restore-keys: ctcache-${{ runner.os }}-
    - name: build and test
      run: tools/ci_local.sh
    - uses: codecov/codecov-action@v5
      with:
        fail_ci_if_error: true
        files: build_coverage/clean_coverage.info
        token: ${{ secrets.CODECOV_TOKEN }}
        verbose: true
        disable_search: true
